.border-radio-top {
    border-top-left-radius: 12px 12px;
    border-top-right-radius: 12px 12px;
    border-color: #333;
    border: 1px;
}

.border-radio-botton {
    border-bottom-left-radius: 11px 11px;
    border-bottom-right-radius: 11px 11px;
    border-color: #333;
    border: 1px;
}

.carousel-caption {
  border-top-left-radius: 12px 12px;
  border-top-right-radius: 12px 12px;
  border-bottom-left-radius: 11px 11px;
  border-bottom-right-radius: 11px 11px;    
  padding: 10px;
  bottom: 60px;
  margin: 0 5px;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
  position: absolute;
}
/*---------------------------------------------------------
 Custom logo (_scaffolding.scss)
-------------------------------------------------------- */

.custom-logo {
    /*    background-image: url('../images/imagem_transparente.png');*/
    width: 300px;
    height: auto;
    display: block;
    max-width: 100%;      
    margin-bottom: 10px;
}
.custom-logo a {
    display: block;
    width: 100%;
    height: 0;
    font: 0/0 a;
    text-decoration: none;
    text-shadow: none;
    color: transparent;
}

.centered .custom-logo {
    margin: 0 auto;
}
.centered .site-navigation {
    margin-bottom: 0;
}
.site-header {
    position: relative;
    margin-bottom: 50px;
    margin-bottom: 4rem;
}
.post {
    padding: 25px 25px 25px 25px;        
}

.post .h3 {
    font-family: "goudy_bookletter_1911regular";
    font-size: 20px;
    line-height: 1.3;
    color: #9A1D0D;
    text-transform:uppercase;
    letter-spacing:-1px;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}

.post .h4 {
    font-size: 18px;
    line-height: 1.3;
    color: black;    
    border:1px solid #fff;
    border-width:1px 0 0 1px;
    border-bottom:1px solid #e7e7e7;
    padding: 0px 0px 10px 0px;
}

.post .p {
    font-size: 1em;
    color: black;
    padding: 10px 0px 0px 0px;       
}

.post a {
  color: #2C88A7;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
}


/*div.mitem:hover img { 
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");  Firefox 3.5+ 
  filter: gray;  IE6-9 
  -webkit-filter: grayscale(100%);  Chrome 19+ & Safari 6+ 
}*/

.post_materia {
    padding: 0px 150px 0px 150px;        
}

.post_materia .pfull {
    font-size: 18px;       
    line-height: 1.6;
}

.thumbnail.with-caption {
  display: inline-block;
  background: #f5f5f5;
}
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
/*.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}*/
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}


/*---------------------------------------------------------
 NAV-PILLS Customizado
-------------------------------------------------------- */
.nav-custom{
    padding-left:0;
    margin-bottom:0; 
}

.nav-custom>li{
    position:relative;
    display:block;
}

.nav-custom>li>a{
    position:relative;
    display:block;
/*    padding:5px 50px;*/
    color: black; 
    text-align: center;
   // text-transform: uppercase;
    font-size: 15px;
/*    margin: 20px 0px;
    margin: 3rem 0px;*/
    z-index: 100;
    border-radius:4px;
    font-weight: bold;
}

.nav-custom>li>a:hover,.nav>li>a:focus{
/*    text-decoration:none;*/
    background-color:#1199c4;
    color: white;
    font-weight: bold;
}

.nav-custom>li.disabled>a{
    color:#777
}

.nav-custom>li.disabled>a:hover,.nav>li.disabled>a:focus{
    color:#777;
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent
}

.nav-custom .open>a,.nav .open>a:hover,.nav .open>a:focus{
    background-color:#eee;
    border-color:#428bca
}

.nav-custom .nav-divider{
    height:1px;
    margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}

.nav-custom>li>a>img{
    max-width:none
}

/*---------------------------------------------------------
 Clearfix para resolver problema de sobreposiÃ§Ã£o do float
-------------------------------------------------------- */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}