<!--<div class="item">-->
    
    <div class="thumbnail no-padder border-radio-top border-radio-botton" style="background-color: black;">      

        <div class="custom-logo">      
            <img class="border-radio-top" ng-src="img/logo_revista_fundo_preto.png" alt="" style="height: 407px"/>                           
        </div>
        <div class="lead text-left padder-md padder-v"  style="font-weight: bolder; color: white;">
            <p>Revista Imagem aborda as vivencias da população de São José do Rio Pardo reavivando nossa cultura e tradição, sem perder de vista o moderno.</p>
        </div>
<!--        <div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title lead text-center">Filtre as reportagens pelo segmento</h2>
                </div>

                <div class="panel-body">

                    <label class="checkbox i-checks m-l-md m-b-md text-u-c" ng-repeat="lib in libs">
                        <input type="checkbox" ng-model="lib.checked"><i></i>
                        {{lib.name}}
                    </label>
                </div>
            </div>

        </div>-->
<!--        <div class="list-group">
            <a href="#" class="list-group-item">Inicio</a>
            <a href="#" class="list-group-item">Contato</a>
            <a href="#" class="list-group-item">Editora Sylos</a>
            <a href="#" class="list-group-item">Equipe</a>
        </div>-->
    </div>
    
<!--</div>-->